body {
    background-color: #3434b8;
    margin: 0;
    padding: 20px;
}
.padre {
    width: 850px;
    height: 650px;
    margin: auto;
}

.nombre {
    width: 810px;
    height: 50px;

    margin: 0 auto;
    padding: 10px;

    background-color:yellow;

    text-align: center;
    font-size: 18px;
}
.medio {
    width: 850px;
    height: 450px;

    margin-top: 15px;

    display: flex;
    flex-direction: row;
}
.izquierda {
    width: 110px;
    height: 430px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.centro {
    width: 600px;
    height: 430px;

    padding: 10px;

    border: 3px solid #dddd00;
}
.caja-grande {
    width: 570px;
    height: 220px;
    margin: 0 auto;
    background-color: yellow;
    border: 3px solid #dddd00;
}
.tres-cajas {
    width: 570px;
    height: 150px;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.caja {
    width: 120px;
    height: 140px;
    background-color: yellow;
    border: 3px solid #dddd00;
    text-align: center;
}
.derecha {
    width: 110px;
    height: 430px;

    padding: 10px;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
}

.circulo {
    background-color: #e8f5e9;

    border-radius: 50%;
}
.grande {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pequeño {
    width: 40px;
    height: 40px;
}
.punto {
    width: 18px;
    height: 18px;
    background-color: #777777;
    border-radius: 50%;
}

.botones {
    width: 810px;
    height: 50px;

    margin: 10px auto;
    padding: 10px;

    background-color:yellow;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
}
.boton {
    width: 55px;
    height: 40px;

    background-color: #df554b;

    text-align: center;
}


/* ===================== */
/* PIE */
/* ===================== */

.pie {
    width: 810px;
    height: 50px;

    margin: 10px auto;
    padding: 10px;

    background-color: #3434b8;

    color: white;

    text-align: center;
    font-size: 18px;
}
